
<!DOCTYPE html>
<html>
<head>
    <style>
        .center {
            margin: auto;
            width: 60%;
            border: 3px solid gray;
            padding: 10px;
        }
    </style>
</head>
<body>

    <div class="center">
        <p>Hello World</p>
    </div>

</body>
</html>